navbar {
  grid-area: navbar;
}
.search {
  grid-area: search;
}
.list {
  grid-area: listing;
  background:pink;
}
.map {
  grid-area: map;
  background:purple;
}

.App {
  display:grid;
  height:100vh;
  grid-template-columns: 35% 65%;
  grid-template-rows: 50px 50px auto;
  grid-template-areas: 
    "navbar navbar"
    "search search"
    "listing map";
}