.list{
  float:left;
  width:40%;
}

.mapcontainer{
  float:right;
  width:60%;
}

.navbar{
  background: black;
}

.listing{
  list-style-type:none;
  margin:1rem;
  border-bottom:1px solid black;
  cursor: pointer; 
}

h2{
  margin:0;
}

p{
  margin:0;
}

.infowindow{
  list-style-type:none;
}